div {
  /* border-style: dotted; */
  font-family: sans-serif;
  /* font-size: ; */
}

#container {
  display: flex;

  flex-direction: column;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
  font-size: 120%;
}

.percent {
  padding: 10%;
  background-color: royalblue;
  color: antiquewhite;
  font-weight: bold;
  font-size: clamp(100%, 150%, 2vw);
}

.row2 {
  padding: 1.5em 0 1.5em 0.5em;
  background-color: royalblue;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.dollar {
  display: flex;
  justify-content: center;
  font-size: 7em;
}
